In [133]:
from scipy.stats import linregress
import numpy as np
import pandas as pd
import datetime as dt
import sklearn
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf

In [134]:
# Call in portion of data for basic manipulation
df = pd.read_csv('./Data/data.csv')
df.head()
# df.describe()

   Date  Rot VH           Team  1st  2nd  Final Open  Close      ML    2H
0  1109  711  V    FloridaIntl   30   42     72  146  150.5   10000    79
1  1109  712  H  NorthCarolina   46   42     88   30   30.5  -30000  14.5
2  1109  713  V    MurrayState   26   44     70  132  139.5     700    73
3  1109  714  H     California   34   41     75   13   13.5   -1100     6
4  1109  715  V    AlcornState   28   32     60   NL     NL   16000    NL

In [135]:
#finding outlier games/teams
count_df = df['Team'].value_counts()
count_dict = count_df.to_dict()
df['Team Frequency'] = df['Team'].map(count_dict)
# df.head()
# df.describe()
# team_list = df['Team'].unique()
# list_df = pd.DataFrame(team_list)
# list_df.to_csv('team_list', sep=',', encoding='utf-8', index=False)

In [136]:
# encode the team names for easier training/testing
le = LabelEncoder()
le.fit(df['Team'])
team_code = le.transform(df['Team'])
df['Team Code'] = team_code
df.head()

,Date,Rot,VH,Team,1st,2nd,Final,Open,Close,ML,2H,Team Frequency,Team Code
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,79,270,107
1,1109,712,H,NorthCarolina,46,42,88,30,30.5,-30000,14.5,382,232
2,1109,713,V,MurrayState,26,44,70,132,139.5,700,73,313,211
3,1109,714,H,California,34,41,75,13,13.5,-1100,6,344,46
4,1109,715,V,AlcornState,28,32,60,NL,NL,16000,NL,78,9

In [137]:
# Transferring home/away status to numeric
def home_away_func(row):
    if row['VH'] == 'H':
        return 1
    elif row['VH'] == 'V':
        return 0
    else:
        return 0.5

In [138]:
df['Home/Away/Neutral'] = df.apply(home_away_func, axis=1)
# df.head()

In [185]:
track_df = pd.DataFrame(columns=['Team','Code'])


track_df['Team'] = df['Team'].unique()
track_df['Code'] = df['Team Code'].unique()

team_dict = dict(zip(track_df.Team, track_df.Code))
# area_dict = dict(zip(lakes.area, lakes.count))
print(team_dict.get('Kentucky', None))
print(team_dict.get('Tennessee', None))

159
332

In [139]:
coded_df = pd.get_dummies(df["Team Code"])
# coded_df.nunique()

In [140]:
# Concatenate the coded dataframe to the end of the existing, base dataframe
concat_df = pd.concat([df, coded_df],axis=1)

In [ ]:
# Create dictionary of team names, team codes, and one hot encoded id arrays
# team_dict =

In [141]:
# Reorder to put entire game data on single row
odd = concat_df.iloc[::2]
even = concat_df.iloc[1::2]

In [142]:
merged_df = odd.reset_index(drop=True).merge(even.reset_index(drop=True), left_index=True, right_index=True)
merged_df.head()

,Date_x,Rot_x,VH_x,Team_x,1st_x,2nd_x,Final_x,Open_x,Close_x,ML_x,...,395_y,396_y,397_y,398_y,399_y,400_y,401_y,402_y,403_y,404_y
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,...,0,0,0,0,0,0,0,0,0,0
1,1109,713,V,MurrayState,26,44,70,132,139.5,700,...,0,0,0,0,0,0,0,0,0,0
2,1109,715,V,AlcornState,28,32,60,NL,NL,16000,...,0,0,0,0,0,0,0,0,0,0
3,1109,717,V,AlbanyNY,20,23,43,NL,NL,1500,...,0,0,0,0,0,0,0,0,0,0
4,1111,727,V,DetroitU,32,29,61,142,140.5,1350,...,0,0,0,0,0,0,0,0,0,0

In [143]:
cleaned_df = merged_df.rename(columns = {'Date_x':'Date','VH_x':'Loc Team X','Team_x':'Team X','1st_x':'Team X 1st Half',
                                      '2nd_x':'Team X 2nd Half','Final_x':'Team X Final','VH_y':'Loc Team Y',
                                      'Team_y':'Team Y','1st_y':'Team Y 1st Half','2nd_y':'Team Y 2nd Half',
                                     'Final_y':'Team Y Final','Open_x':'Total Open','Close_x':'Total Close','ML_x':'Team X Moneyline',
                                        '2H_x':'2nd Half Total','Open_y':'Spread Open','Close_y':'Spread Close','ML_y':'Team Y Moneyline',
                                        '2H_y':'2nd Half Spread'})
cleaned_df.head()

################################################################################################################
### Drop columns for total open and spread open for simplicity sake
### Drop all games with "NL" and replace "pk" with 0
### Rewrite the columns to flip the spread and totals when the 'spread' column is greater than the 'total' column.
### Then flip the direction to negative thereby making the home favorite a positive value and the home dog a negative value
################################################################################################################

,Date,Rot_x,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Open,Total Close,Team X Moneyline,...,395_y,396_y,397_y,398_y,399_y,400_y,401_y,402_y,403_y,404_y
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,...,0,0,0,0,0,0,0,0,0,0
1,1109,713,V,MurrayState,26,44,70,132,139.5,700,...,0,0,0,0,0,0,0,0,0,0
2,1109,715,V,AlcornState,28,32,60,NL,NL,16000,...,0,0,0,0,0,0,0,0,0,0
3,1109,717,V,AlbanyNY,20,23,43,NL,NL,1500,...,0,0,0,0,0,0,0,0,0,0
4,1111,727,V,DetroitU,32,29,61,142,140.5,1350,...,0,0,0,0,0,0,0,0,0,0

In [144]:
cleaned_df.drop(cleaned_df[cleaned_df['Total Close'] == 'NL'].index, inplace = True) 
cleaned_df.drop(cleaned_df[cleaned_df['Spread Close'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['2nd Half Spread'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['2nd Half Total'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['Team X Moneyline'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['Team Y Moneyline'] == 'NL'].index, inplace=True)

In [145]:
# indexNames = temp_df[(temp_df['Total Close']=="NL") & (temp_df['Spread Close']=="NL")].index
# temp2_df = temp_df.drop(indexNames, inplace=True)
cleaned_df.drop(columns=['Total Open','Spread Open'])
cleaned_df.head()

,Date,Rot_x,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Open,Total Close,Team X Moneyline,...,395_y,396_y,397_y,398_y,399_y,400_y,401_y,402_y,403_y,404_y
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,...,0,0,0,0,0,0,0,0,0,0
1,1109,713,V,MurrayState,26,44,70,132,139.5,700,...,0,0,0,0,0,0,0,0,0,0
4,1111,727,V,DetroitU,32,29,61,142,140.5,1350,...,0,0,0,0,0,0,0,0,0,0
7,1112,505,V,JamesMadison,25,19,44,149,140.5,1500,...,0,0,0,0,0,0,0,0,0,0
8,1112,507,V,GeorgiaState,29,24,53,137.5,135,450,...,0,0,0,0,0,0,0,0,0,0

In [146]:
cleaned_df = cleaned_df.loc[(cleaned_df['Team Frequency_x'] > 10) & (cleaned_df['Team Frequency_y'] > 10)]

In [147]:
# Find winner
def win_func(row):
    if row['Team X Final'] > row['Team Y Final']:
        return row['Team X']
    else:
        return row['Team Y']

cleaned_df['Winner'] = cleaned_df.apply(win_func, axis=1)

In [148]:
# Drop meaningless columns
shortened_df = cleaned_df.drop(columns=['Rot_x','Date_y','Rot_y','Total Open','Spread Open'])

In [149]:
# Convert objects to floats
shortened_df['Total Close'] = pd.to_numeric(shortened_df['Total Close'])
shortened_df['Spread Close'] = pd.to_numeric(shortened_df['Spread Close'])
shortened_df['2nd Half Spread'] = pd.to_numeric(shortened_df['2nd Half Spread'])
shortened_df['2nd Half Total'] = pd.to_numeric(shortened_df['2nd Half Total'])
shortened_df['Team X Moneyline'] = pd.to_numeric(shortened_df['Team X Moneyline'])
shortened_df['Team Y Moneyline'] = pd.to_numeric(shortened_df['Team Y Moneyline'])

In [150]:
###### Use the df.apply to create corrected columns then drop bad column
def spread_func(row):
    if row['Total Close'] < row['Spread Close']:
        return row['Total Close']
    else:
        return (row['Spread Close'] * -1)
    
def total_func(row):
    if row['Total Close'] < row['Spread Close']:
        return row['Spread Close']
    else:
        return row['Total Close']

In [151]:
shortened_df['Corrected Spread'] = shortened_df.apply(spread_func, axis=1)
shortened_df['Corrected Total'] = shortened_df.apply(total_func, axis=1)
shortened_df.head()

,Date,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Close,Team X Moneyline,2nd Half Total,Team Frequency_x,...,398_y,399_y,400_y,401_y,402_y,403_y,404_y,Winner,Corrected Spread,Corrected Total
0,1109,V,FloridaIntl,30,42,72,150.5,10000,79.0,270,...,0,0,0,0,0,0,0,NorthCarolina,-30.5,150.5
1,1109,V,MurrayState,26,44,70,139.5,700,73.0,313,...,0,0,0,0,0,0,0,California,-13.5,139.5
4,1111,V,DetroitU,32,29,61,140.5,1350,73.5,326,...,0,0,0,0,0,0,0,California,-17.0,140.5
7,1112,V,JamesMadison,25,19,44,140.5,1500,72.5,312,...,0,0,0,0,0,0,0,OhioState,-19.0,140.5
8,1112,V,GeorgiaState,29,24,53,135.0,450,71.0,322,...,0,0,0,0,0,0,0,NCState,-10.5,135.0

In [152]:
# shortened_df.dtypes
### Create function to see who wins against the spread
### if they cover, they get a 1, if no cover or push, then 0
def team_x_cover(row):
    if (row['Team Y Final'] + row['Corrected Spread']) < row['Team X Final']:
        return 1
    else:
        return 0
    
def team_y_cover(row):
    if (row['Team Y Final'] + row['Corrected Spread']) > row['Team X Final']:
        return 1
    else:
        return 0
    
def ats_winner(row):
    if row['Team X Cover'] > row['Team Y Cover']:
        return row['Team X']
    elif row['Team X Cover'] < row['Team Y Cover']:
        return row['Team Y']
    else:
        return 'Push'
    
def ats_winner_code(row):
    if row['Team X Cover'] > row['Team Y Cover']:
        return row['Team Code_x']
    elif row['Team X Cover'] < row['Team Y Cover']:
        return row['Team Code_y']
    else:
        return 0.5

In [153]:
shortened_df['Team X Cover'] = shortened_df.apply(team_x_cover, axis=1)
shortened_df['Team Y Cover'] = shortened_df.apply(team_y_cover, axis=1)
shortened_df['ATS Winner'] = shortened_df.apply(ats_winner, axis=1)
shortened_df['ATS Winner Code'] = shortened_df.apply(ats_winner_code, axis=1)

In [154]:
# Check output
final_df = shortened_df
final_df.head(50)

,Date,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Close,Team X Moneyline,2nd Half Total,Team Frequency_x,...,402_y,403_y,404_y,Winner,Corrected Spread,Corrected Total,Team X Cover,Team Y Cover,ATS Winner,ATS Winner Code
0,1109,V,FloridaIntl,30,42,72,150.5,10000,79.0,270,...,0,0,0,NorthCarolina,-30.5,150.5,1,0,FloridaIntl,107.0
1,1109,V,MurrayState,26,44,70,139.5,700,73.0,313,...,0,0,0,California,-13.5,139.5,1,0,MurrayState,211.0
4,1111,V,DetroitU,32,29,61,140.5,1350,73.5,326,...,0,0,0,California,-17.0,140.5,0,1,California,46.0
7,1112,V,JamesMadison,25,19,44,140.5,1500,72.5,312,...,0,0,0,OhioState,-19.0,140.5,0,1,OhioState,251.0
8,1112,V,GeorgiaState,29,24,53,135.0,450,71.0,322,...,0,0,0,NCState,-10.5,135.0,0,1,NCState,215.0
9,1113,V,CSNorthridge,20,43,63,142.0,2000,74.5,295,...,0,0,0,Purdue,-22.5,142.0,0,1,Purdue,269.0
10,1113,V,William&Mary,31,35,66,136.0,2250,73.0,291,...,0,0,0,Connecticut,-23.5,136.0,1,0,William&Mary,393.0
11,1113,V,YoungstownState,24,33,57,137.0,1150,73.0,293,...,1,0,0,Xavier,-16.5,137.0,0,1,Xavier,402.0
12,1113,V,MiamiOhio,42,29,71,1.5,-125,70.0,316,...,0,0,0,Towson,1.5,125.0,0,1,Towson,349.0
13,1113,V,ClevelandState,25,37,62,1.0,-120,3.0,321,...,0,0,0,StBonaventure,1.0,134.0,0,1,StBonaventure,315.0
15,1113,V,Valparaiso,38,40,78,1.5,-120,2.0,326,...,0,0,0,BallState,1.5,120.0,0,1,BallState,24.0
16,1113,V,ArkansasLR,30,34,64,139.5,1400,74.5,306,...,0,0,0,Mississippi,-16.5,139.5,0,1,Mississippi,198.0
17,1113,V,NewOrleansU,32,27,59,126.5,1100,71.0,86,...,0,0,0,Georgia,-16.0,126.5,1,0,NewOrleansU,227.0
18,1113,V,Massachusetts,35,32,67,147.0,160,78.5,317,...,0,0,0,CentralFlorida,-4.0,147.0,0,1,CentralFlorida,53.0
19,1113,V,Pennsylvania,29,26,55,139.0,1000,72.5,268,...,0,0,0,PennState,-14.5,139.0,0,1,PennState,259.0
20,1113,V,ULMonroe,29,33,62,140.0,1150,74.0,291,...,0,0,0,LSU,-16.0,140.0,0,1,LSU,160.0
21,1113,V,NorthernIllinois,25,30,55,132.5,775,70.5,304,...,0,0,0,Northwestern,-14.0,132.5,0,1,Northwestern,246.0
22,1113,V,LoyolaChicago,18,36,54,139.0,1800,71.0,319,...,0,0,0,KansasState,-21.5,139.0,0,1,KansasState,156.0
23,1113,V,Hofstra,27,38,65,145.5,3000,75.5,311,...,0,0,0,Kansas,-25.0,145.5,0,1,Kansas,155.0
24,1113,V,Drexel,29,33,67,121.5,190,66.0,321,...,0,0,0,StJosephs,-5.0,121.5,0,1,StJosephs,319.0
25,1113,V,SouthFlorida,29,38,67,123.0,-102,68.0,323,...,0,0,0,SouthFlorida,-1.0,123.0,1,0,SouthFlorida,310.0
26,1113,V,IdahoU,47,47,94,134.0,450,75.0,274,...,0,0,0,IdahoU,-10.0,134.0,1,0,IdahoU,139.0
27,1113,V,Georgetown,32,42,74,10.5,-600,5.5,320,...,0,0,0,Georgetown,10.5,126.0,1,0,Georgetown,116.0
28,1113,V,Bradley,25,35,60,143.0,700,73.0,327,...,0,0,0,BYU,-13.0,143.0,1,0,Bradley,33.0
29,1113,V,NorthernIowa,23,48,71,3.5,-175,1.5,336,...,0,0,0,NorthernIowa,3.5,118.0,1,0,NorthernIowa,243.0
30,1113,V,CalPolySLO,28,34,62,131.0,575,71.0,298,...,0,0,0,SanFrancisco,-12.0,131.0,1,0,CalPolySLO,43.0
31,1113,V,NewMexicoState,26,42,68,147.5,360,77.0,230,...,0,0,0,SaintMarysCA,-9.0,147.5,0,1,SaintMarysCA,288.0
32,1113,V,Stanford,32,32,64,1.0,-115,0.5,338,...,0,0,0,SanDiego,1.0,130.0,0,1,SanDiego,292.0
33,1113,V,Pacific,25,30,67,4.5,-170,1.5,320,...,0,0,0,Pacific,4.5,127.0,0,1,Pepperdine,261.0
36,1113,N,WiscGreenBay,30,26,56,137.5,120,72.5,321,...,0,0,0,UAB,-2.5,137.5,0,1,UAB,353.0
37,1113,V,Samford,34,32,66,122.0,475,67.0,290,...,0,0,0,KentState,-10.5,122.0,1,0,Samford,291.0
39,1113,V,WrightState,28,41,69,133.5,1000,71.5,328,...,0,0,0,WashingtonU,-15.0,133.5,1,0,WrightState,400.0
40,1113,N,LoyolaMarymount,45,42,87,148.5,310,81.0,317,...,0,0,0,BoiseState,-8.0,148.5,1,0,LoyolaMarymount,176.0
44,1113,V,MoreheadState,25,34,59,135.0,1600,71.5,311,...,0,0,0,Kentucky,-17.5,135.0,1,0,MoreheadState,208.0
45,1113,V,NCGreensboro,27,35,62,133.5,6000,71.5,306,...,0,0,0,Duke,-31.0,133.5,0,1,Duke,90.0
46,1113,V,Wofford,31,29,60,136.5,1000,70.5,310,...,0,0,0,Pittsburgh,-15.0,136.5,1,0,Wofford,399.0
47,1113,V,StPeters,27,24,51,134.0,1300,70.0,289,...,0,0,0,SetonHall,-17.5,134.0,1,0,StPeters,320.0
48,1113,V,NCWilmington,31,37,68,152.5,400,80.5,305,...,0,0,0,AppalachianSt,-9.5,152.5,0,1,AppalachianSt,11.0
49,1113,V,AustinPeay,25,29,54,160.5,2750,80.0,301,...,0,0,0,Tennessee,-24.5,160.5,0,1,Tennessee,332.0
50,1113,V,TennesseeTech,22,28,50,143.0,2000,74.0,274,...,0,0,0,Minnesota,-22.5,143.0,0,1,Minnesota,196.0
51,1113,V,Siena,38,47,85,14.0,-1200,5.0,309,...,0,0,0,Siena,14.0,157.5,1,0,Siena,302.0
52,1113,V,IdahoState,24,44,68,129.0,925,69.5,278,...,0,0,0,IowaState,-15.0,129.0,0,1,IowaState,149.0
53,1113,V,Rider,44,44,88,146.0,1000,80.0,308,...,0,0,0,Rider,-15.0,146.0,1,0,Rider,275.0
54,1113,V,UtahState,28,38,66,3.0,-155,69.0,320,...,0,0,0,UtahState,3.0,134.5,1,0,UtahState,367.0
55,1113,V,Niagara,33,32,65,145.0,210,77.0,317,...,0,0,0,Auburn,-5.5,145.0,1,0,Niagara,228.0
57,1114,V,Princeton,43,28,71,115.0,240,66.5,260,...,0,0,0,Princeton,-6.5,115.0,1,0,Princeton,267.0
58,1114,V,Temple,40,36,76,7.5,-340,70.5,342,...,0,0,0,Temple,7.5,134.0,1,0,Temple,330.0
59,1114,V,Creighton,46,34,80,140.5,280,77.5,349,...,0,0,0,Dayton,-7.5,140.5,0,1,Dayton,77.0
60,1114,V,Cornell,26,45,71,145.5,245,74.5,245,...,0,0,0,Cornell,-6.5,145.5,1,0,Cornell,73.0
62,1114,V,CalRiverside,22,29,51,134.5,1050,70.5,286,...,0,0,0,NewMexico,-15.0,134.5,0,1,NewMexico,225.0

In [155]:
final_df['ATS Winner'] = final_df['ATS Winner'].astype(str)

In [156]:
final_df['ATS Winner'].nunique()

363

In [157]:
predict_winner_df = final_df.drop(['Date','Team X 1st Half','Team X 2nd Half','Team X Final',
                                  'Total Close','2nd Half Total','Team X','Team Y',
                                   'Team Y 1st Half','Team Y 2nd Half','Team Y Final',
                                   'Spread Close','2nd Half Spread','Winner',
                                  'Loc Team X','Loc Team Y','Team Frequency_x','Team Frequency_y',
                                  'ATS Winner','Team X Cover','Team Y Cover'], axis=1)
predict_winner_df.head()

,Team X Moneyline,Team Code_x,Home/Away/Neutral_x,0_x,1_x,2_x,3_x,4_x,5_x,6_x,...,398_y,399_y,400_y,401_y,402_y,403_y,404_y,Corrected Spread,Corrected Total,ATS Winner Code
0,10000,107,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-30.5,150.5,107.0
1,700,211,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-13.5,139.5,211.0
4,1350,84,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-17.0,140.5,46.0
7,1500,154,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-19.0,140.5,251.0
8,450,119,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-10.5,135.0,215.0

In [158]:
# arranged_cols = predict_winner_df.reindex(columns=['Team Code_x',0,1,2,3,4])

In [159]:
x = predict_winner_df.drop(['ATS Winner Code'], axis=1)
y = predict_winner_df['ATS Winner Code']

print(x.shape, y.shape)

(39349, 818) (39349,)

In [160]:
y.nunique()

363

In [166]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [167]:
scalar = StandardScaler()

In [168]:
scalar.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [169]:
x_train_scaled = scalar.transform(x_train)

In [170]:
x_test_scaled = scalar.transform(x_test)

In [173]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=818))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=405, activation='softmax'))

In [174]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy', #changed from categorical_crossentropy
              metrics=['accuracy'])

In [175]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 100)               81900
_________________________________________________________________
dense_16 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_17 (Dense)             (None, 405)               40905
=================================================================
Total params: 132,905
Trainable params: 132,905
Non-trainable params: 0
_________________________________________________________________

In [176]:
model.fit(
    x_train_scaled,
    y_train,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 29511 samples
Epoch 1/100
29511/29511 - 9s - loss: 2.5362 - acc: 0.3821
Epoch 2/100
29511/29511 - 9s - loss: 1.1721 - acc: 0.5620
Epoch 3/100
29511/29511 - 9s - loss: 1.0128 - acc: 0.6015
Epoch 4/100
29511/29511 - 8s - loss: 0.9376 - acc: 0.6254
Epoch 5/100
29511/29511 - 11s - loss: 0.8873 - acc: 0.6393
Epoch 6/100
29511/29511 - 8s - loss: 0.8578 - acc: 0.6474
Epoch 7/100
29511/29511 - 9s - loss: 0.8248 - acc: 0.6579
Epoch 8/100
29511/29511 - 8s - loss: 0.8031 - acc: 0.6624
Epoch 9/100
29511/29511 - 9s - loss: 0.7772 - acc: 0.6672
Epoch 10/100
29511/29511 - 8s - loss: 0.7547 - acc: 0.6740
Epoch 11/100
29511/29511 - 9s - loss: 0.7362 - acc: 0.6785
Epoch 12/100
29511/29511 - 8s - loss: 0.7158 - acc: 0.6844
Epoch 13/100
29511/29511 - 9s - loss: 0.6926 - acc: 0.6917
Epoch 14/100
29511/29511 - 9s - loss: 0.6761 - acc: 0.6961
Epoch 15/100
29511/29511 - 8s - loss: 0.6600 - acc: 0.7016
Epoch 16/100
29511/29511 - 9s - loss: 0.6401 - acc: 0.7066
Epoch 17/100
29511/29511 - 8s - loss: 0.6264 - acc: 0.7118
Epoch 18/100
29511/29511 - 9s - loss: 0.6110 - acc: 0.7221
Epoch 19/100
29511/29511 - 8s - loss: 0.5975 - acc: 0.7241
Epoch 20/100
29511/29511 - 9s - loss: 0.5770 - acc: 0.7332
Epoch 21/100
29511/29511 - 8s - loss: 0.5693 - acc: 0.7373
Epoch 22/100
29511/29511 - 9s - loss: 0.5471 - acc: 0.7478
Epoch 23/100
29511/29511 - 8s - loss: 0.5407 - acc: 0.7465
Epoch 24/100
29511/29511 - 9s - loss: 0.5283 - acc: 0.7530
Epoch 25/100
29511/29511 - 8s - loss: 0.5153 - acc: 0.7597
Epoch 26/100
29511/29511 - 9s - loss: 0.5049 - acc: 0.7628
Epoch 27/100
29511/29511 - 8s - loss: 0.4910 - acc: 0.7680
Epoch 28/100
29511/29511 - 9s - loss: 0.4865 - acc: 0.7705
Epoch 29/100
29511/29511 - 8s - loss: 0.4693 - acc: 0.7787
Epoch 30/100
29511/29511 - 9s - loss: 0.4626 - acc: 0.7819
Epoch 31/100
29511/29511 - 11s - loss: 0.4552 - acc: 0.7882
Epoch 32/100
29511/29511 - 8s - loss: 0.4578 - acc: 0.7893
Epoch 33/100
29511/29511 - 10s - loss: 0.4371 - acc: 0.7932
Epoch 34/100
29511/29511 - 8s - loss: 0.4253 - acc: 0.7996
Epoch 35/100
29511/29511 - 9s - loss: 0.4156 - acc: 0.8024
Epoch 36/100
29511/29511 - 8s - loss: 0.4109 - acc: 0.8040
Epoch 37/100
29511/29511 - 9s - loss: 0.4058 - acc: 0.8105
Epoch 38/100
29511/29511 - 9s - loss: 0.4045 - acc: 0.8100
Epoch 39/100
29511/29511 - 8s - loss: 0.3896 - acc: 0.8164
Epoch 40/100
29511/29511 - 9s - loss: 0.3805 - acc: 0.8206
Epoch 41/100
29511/29511 - 8s - loss: 0.3719 - acc: 0.8234
Epoch 42/100
29511/29511 - 9s - loss: 0.3684 - acc: 0.8262
Epoch 43/100
29511/29511 - 8s - loss: 0.3641 - acc: 0.8270
Epoch 44/100
29511/29511 - 9s - loss: 0.3614 - acc: 0.8287
Epoch 45/100
29511/29511 - 8s - loss: 0.3453 - acc: 0.8371
Epoch 46/100
29511/29511 - 9s - loss: 0.3512 - acc: 0.8335
Epoch 47/100
29511/29511 - 8s - loss: 0.3491 - acc: 0.8367
Epoch 48/100
29511/29511 - 9s - loss: 0.3429 - acc: 0.8409
Epoch 49/100
29511/29511 - 8s - loss: 0.3287 - acc: 0.8440
Epoch 50/100
29511/29511 - 9s - loss: 0.3314 - acc: 0.8448
Epoch 51/100
29511/29511 - 8s - loss: 0.3222 - acc: 0.8468
Epoch 52/100
29511/29511 - 10s - loss: 0.3167 - acc: 0.8496
Epoch 53/100
29511/29511 - 9s - loss: 0.3161 - acc: 0.8510
Epoch 54/100
29511/29511 - 8s - loss: 0.3127 - acc: 0.8529
Epoch 55/100
29511/29511 - 10s - loss: 0.3046 - acc: 0.8567
Epoch 56/100
29511/29511 - 8s - loss: 0.3096 - acc: 0.8553
Epoch 57/100
29511/29511 - 9s - loss: 0.3029 - acc: 0.8568
Epoch 58/100
29511/29511 - 8s - loss: 0.2958 - acc: 0.8596
Epoch 59/100
29511/29511 - 9s - loss: 0.2945 - acc: 0.8610
Epoch 60/100
29511/29511 - 8s - loss: 0.2942 - acc: 0.8613
Epoch 61/100
29511/29511 - 9s - loss: 0.2853 - acc: 0.8663
Epoch 62/100
29511/29511 - 9s - loss: 0.2796 - acc: 0.8674
Epoch 63/100
29511/29511 - 8s - loss: 0.2785 - acc: 0.8691
Epoch 64/100
29511/29511 - 9s - loss: 0.2797 - acc: 0.8694
Epoch 65/100
29511/29511 - 9s - loss: 0.2713 - acc: 0.8708
Epoch 66/100
29511/29511 - 9s - loss: 0.2653 - acc: 0.8725
Epoch 67/100
29511/29511 - 8s - loss: 0.2679 - acc: 0.8731
Epoch 68/100
29511/29511 - 9s - loss: 0.2669 - acc: 0.8736
Epoch 69/100
29511/29511 - 8s - loss: 0.2600 - acc: 0.8768
Epoch 70/100
29511/29511 - 9s - loss: 0.2630 - acc: 0.8768
Epoch 71/100
29511/29511 - 8s - loss: 0.2673 - acc: 0.8770
Epoch 72/100
29511/29511 - 9s - loss: 0.2540 - acc: 0.8821
Epoch 73/100
29511/29511 - 8s - loss: 0.2565 - acc: 0.8807
Epoch 74/100
29511/29511 - 9s - loss: 0.2555 - acc: 0.8811
Epoch 75/100
29511/29511 - 9s - loss: 0.2516 - acc: 0.8826
Epoch 76/100
29511/29511 - 8s - loss: 0.2401 - acc: 0.8841
Epoch 77/100
29511/29511 - 9s - loss: 0.2376 - acc: 0.8879
Epoch 78/100
29511/29511 - 8s - loss: 0.2416 - acc: 0.8844
Epoch 79/100
29511/29511 - 9s - loss: 0.2366 - acc: 0.8883
Epoch 80/100
29511/29511 - 8s - loss: 0.2360 - acc: 0.8875
Epoch 81/100
29511/29511 - 9s - loss: 0.2360 - acc: 0.8893
Epoch 82/100
29511/29511 - 8s - loss: 0.2396 - acc: 0.8867
Epoch 83/100
29511/29511 - 9s - loss: 0.2385 - acc: 0.8883
Epoch 84/100
29511/29511 - 8s - loss: 0.2346 - acc: 0.8896
Epoch 85/100
29511/29511 - 9s - loss: 0.2264 - acc: 0.8948
Epoch 86/100
29511/29511 - 8s - loss: 0.2292 - acc: 0.8923
Epoch 87/100
29511/29511 - 9s - loss: 0.2293 - acc: 0.8937
Epoch 88/100
29511/29511 - 9s - loss: 0.2227 - acc: 0.8950
Epoch 89/100
29511/29511 - 8s - loss: 0.2181 - acc: 0.8983
Epoch 90/100
29511/29511 - 9s - loss: 0.2209 - acc: 0.8978
Epoch 91/100
29511/29511 - 8s - loss: 0.2282 - acc: 0.8938
Epoch 92/100
29511/29511 - 9s - loss: 0.2243 - acc: 0.8963
Epoch 93/100
29511/29511 - 8s - loss: 0.2196 - acc: 0.8972
Epoch 94/100
29511/29511 - 9s - loss: 0.2113 - acc: 0.9004
Epoch 95/100
29511/29511 - 8s - loss: 0.2113 - acc: 0.9009
Epoch 96/100
29511/29511 - 9s - loss: 0.2170 - acc: 0.8984
Epoch 97/100
29511/29511 - 8s - loss: 0.1980 - acc: 0.9050
Epoch 98/100
29511/29511 - 9s - loss: 0.1957 - acc: 0.9049
Epoch 99/100
29511/29511 - 8s - loss: 0.2182 - acc: 0.9030
Epoch 100/100
29511/29511 - 10s - loss: 0.2066 - acc: 0.9030

In [177]:
model.save('basketball_trained.h5')