In [56]:
from scipy.stats import linregress
import numpy as np
import pandas as pd
import datetime as dt
import sklearn
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf

In [57]:
# Call in portion of data for basic manipulation
df = pd.read_csv('./Data/data.csv')
df.head()
# df.describe()

   Date  Rot VH           Team  1st  2nd  Final Open  Close      ML    2H
0  1109  711  V    FloridaIntl   30   42     72  146  150.5   10000    79
1  1109  712  H  NorthCarolina   46   42     88   30   30.5  -30000  14.5
2  1109  713  V    MurrayState   26   44     70  132  139.5     700    73
3  1109  714  H     California   34   41     75   13   13.5   -1100     6
4  1109  715  V    AlcornState   28   32     60   NL     NL   16000    NL

In [58]:
#finding outlier games/teams
count_df = df['Team'].value_counts()
count_dict = count_df.to_dict()
df['Team Frequency'] = df['Team'].map(count_dict)

In [59]:
# encode the team names for easier training/testing
le = LabelEncoder()
le.fit(df['Team'])
team_code = le.transform(df['Team'])
df['Team Code'] = team_code
df.head()

,Date,Rot,VH,Team,1st,2nd,Final,Open,Close,ML,2H,Team Frequency,Team Code
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,79,270,107
1,1109,712,H,NorthCarolina,46,42,88,30,30.5,-30000,14.5,382,232
2,1109,713,V,MurrayState,26,44,70,132,139.5,700,73,313,211
3,1109,714,H,California,34,41,75,13,13.5,-1100,6,344,46
4,1109,715,V,AlcornState,28,32,60,NL,NL,16000,NL,78,9

In [60]:
track_df = pd.DataFrame(columns=['Team','Code'])


track_df['Team'] = df['Team'].unique()
track_df['Code'] = df['Team Code'].unique()

team_dict = dict(zip(track_df.Team, track_df.Code))
# team_dict

In [61]:
# Transferring home/away status to numeric
def home_away_func(row):
    if row['VH'] == 'H':
        return 1
    elif row['VH'] == 'V':
        return 0
    else:
        return 0.5

In [62]:
df['Home/Away/Neutral'] = df.apply(home_away_func, axis=1)
# df.head()

In [63]:
# Reorder to put entire game data on single row
odd = df.iloc[::2]
even = df.iloc[1::2]

In [64]:
merged_df = odd.reset_index(drop=True).merge(even.reset_index(drop=True), left_index=True, right_index=True)
merged_df.head()

,Date_x,Rot_x,VH_x,Team_x,1st_x,2nd_x,Final_x,Open_x,Close_x,ML_x,...,1st_y,2nd_y,Final_y,Open_y,Close_y,ML_y,2H_y,Team Frequency_y,Team Code_y,Home/Away/Neutral_y
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,...,46,42,88,30,30.5,-30000,14.5,382,232,1.0
1,1109,713,V,MurrayState,26,44,70,132,139.5,700,...,34,41,75,13,13.5,-1100,6,344,46,1.0
2,1109,715,V,AlcornState,28,32,60,NL,NL,16000,...,56,44,100,34,39,-48000,15,361,251,1.0
3,1109,717,V,AlbanyNY,20,23,43,NL,NL,1500,...,38,37,75,24,20,-3000,7,348,327,1.0
4,1111,727,V,DetroitU,32,29,61,142,140.5,1350,...,40,55,95,18,17,-2300,8.5,344,46,1.0

In [65]:
cleaned_df = merged_df.rename(columns = {'Date_x':'Date','VH_x':'Loc Team X','Team_x':'Team X','1st_x':'Team X 1st Half',
                                      '2nd_x':'Team X 2nd Half','Final_x':'Team X Final','VH_y':'Loc Team Y',
                                      'Team_y':'Team Y','1st_y':'Team Y 1st Half','2nd_y':'Team Y 2nd Half',
                                     'Final_y':'Team Y Final','Open_x':'Total Open','Close_x':'Total Close','ML_x':'Team X Moneyline',
                                        '2H_x':'2nd Half Total','Open_y':'Spread Open','Close_y':'Spread Close','ML_y':'Team Y Moneyline',
                                        '2H_y':'2nd Half Spread'})
cleaned_df.head()

,Date,Rot_x,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Open,Total Close,Team X Moneyline,...,Team Y 1st Half,Team Y 2nd Half,Team Y Final,Spread Open,Spread Close,Team Y Moneyline,2nd Half Spread,Team Frequency_y,Team Code_y,Home/Away/Neutral_y
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,...,46,42,88,30,30.5,-30000,14.5,382,232,1.0
1,1109,713,V,MurrayState,26,44,70,132,139.5,700,...,34,41,75,13,13.5,-1100,6,344,46,1.0
2,1109,715,V,AlcornState,28,32,60,NL,NL,16000,...,56,44,100,34,39,-48000,15,361,251,1.0
3,1109,717,V,AlbanyNY,20,23,43,NL,NL,1500,...,38,37,75,24,20,-3000,7,348,327,1.0
4,1111,727,V,DetroitU,32,29,61,142,140.5,1350,...,40,55,95,18,17,-2300,8.5,344,46,1.0

In [66]:
cleaned_df.drop(cleaned_df[cleaned_df['Total Close'] == 'NL'].index, inplace = True) 
cleaned_df.drop(cleaned_df[cleaned_df['Spread Close'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['2nd Half Spread'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['2nd Half Total'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['Team X Moneyline'] == 'NL'].index, inplace=True)
cleaned_df.drop(cleaned_df[cleaned_df['Team Y Moneyline'] == 'NL'].index, inplace=True)

In [67]:
cleaned_df.drop(columns=['Total Open','Spread Open'])
cleaned_df.head()

,Date,Rot_x,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Open,Total Close,Team X Moneyline,...,Team Y 1st Half,Team Y 2nd Half,Team Y Final,Spread Open,Spread Close,Team Y Moneyline,2nd Half Spread,Team Frequency_y,Team Code_y,Home/Away/Neutral_y
0,1109,711,V,FloridaIntl,30,42,72,146,150.5,10000,...,46,42,88,30,30.5,-30000,14.5,382,232,1.0
1,1109,713,V,MurrayState,26,44,70,132,139.5,700,...,34,41,75,13,13.5,-1100,6,344,46,1.0
4,1111,727,V,DetroitU,32,29,61,142,140.5,1350,...,40,55,95,18,17,-2300,8.5,344,46,1.0
7,1112,505,V,JamesMadison,25,19,44,149,140.5,1500,...,34,38,72,16.5,19,-2600,8.5,361,251,1.0
8,1112,507,V,GeorgiaState,29,24,53,137.5,135,450,...,32,37,69,10,10.5,-600,5.5,333,215,1.0

In [68]:
cleaned_df = cleaned_df.loc[(cleaned_df['Team Frequency_x'] > 10) & (cleaned_df['Team Frequency_y'] > 10)]

In [69]:
# Find winner
def win_func(row):
    if row['Team X Final'] > row['Team Y Final']:
        return row['Team X']
    else:
        return row['Team Y']

cleaned_df['Winner'] = cleaned_df.apply(win_func, axis=1)

In [70]:
# Drop meaningless columns
shortened_df = cleaned_df.drop(columns=['Rot_x','Date_y','Rot_y','Total Open','Spread Open'])

In [71]:
# Convert objects to floats
shortened_df['Total Close'] = pd.to_numeric(shortened_df['Total Close'])
shortened_df['Spread Close'] = pd.to_numeric(shortened_df['Spread Close'])
shortened_df['2nd Half Spread'] = pd.to_numeric(shortened_df['2nd Half Spread'])
shortened_df['2nd Half Total'] = pd.to_numeric(shortened_df['2nd Half Total'])
shortened_df['Team X Moneyline'] = pd.to_numeric(shortened_df['Team X Moneyline'])
shortened_df['Team Y Moneyline'] = pd.to_numeric(shortened_df['Team Y Moneyline'])

In [72]:
###### Use the df.apply to create corrected columns then drop bad column
def spread_func(row):
    if row['Total Close'] < row['Spread Close']:
        return row['Total Close']
    else:
        return (row['Spread Close'] * -1)
    
def total_func(row):
    if row['Total Close'] < row['Spread Close']:
        return row['Spread Close']
    else:
        return row['Total Close']

In [73]:
shortened_df['Corrected Spread'] = shortened_df.apply(spread_func, axis=1)
shortened_df['Corrected Total'] = shortened_df.apply(total_func, axis=1)
shortened_df.head()

,Date,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Close,Team X Moneyline,2nd Half Total,Team Frequency_x,...,Team Y Final,Spread Close,Team Y Moneyline,2nd Half Spread,Team Frequency_y,Team Code_y,Home/Away/Neutral_y,Winner,Corrected Spread,Corrected Total
0,1109,V,FloridaIntl,30,42,72,150.5,10000,79.0,270,...,88,30.5,-30000,14.5,382,232,1.0,NorthCarolina,-30.5,150.5
1,1109,V,MurrayState,26,44,70,139.5,700,73.0,313,...,75,13.5,-1100,6.0,344,46,1.0,California,-13.5,139.5
4,1111,V,DetroitU,32,29,61,140.5,1350,73.5,326,...,95,17.0,-2300,8.5,344,46,1.0,California,-17.0,140.5
7,1112,V,JamesMadison,25,19,44,140.5,1500,72.5,312,...,72,19.0,-2600,8.5,361,251,1.0,OhioState,-19.0,140.5
8,1112,V,GeorgiaState,29,24,53,135.0,450,71.0,322,...,69,10.5,-600,5.5,333,215,1.0,NCState,-10.5,135.0

In [74]:
shortened_df['Team X Spread'] = shortened_df['Corrected Spread'] * -1
shortened_df['Team Y Spread'] = shortened_df['Corrected Spread']

In [75]:
### Create function to see who wins against the spread
### if they cover, they get a 1, if no cover or push, then 0
def team_to_cover(row):
    if (row['Team Y Final'] + row['Corrected Spread']) < row['Team X Final']:
        return 0
    elif (row['Team Y Final'] + row['Corrected Spread']) > row['Team X Final']:
        return 1
    else:
        return 0.5

In [76]:
# Team to cover key: 1 = Team Y, 0 = Team x, 0.5 = Push ATS
shortened_df['Team to Cover'] = shortened_df.apply(team_to_cover, axis=1)

In [77]:
# Check output
final_df = shortened_df
final_df.head(50)

,Date,Loc Team X,Team X,Team X 1st Half,Team X 2nd Half,Team X Final,Total Close,Team X Moneyline,2nd Half Total,Team Frequency_x,...,2nd Half Spread,Team Frequency_y,Team Code_y,Home/Away/Neutral_y,Winner,Corrected Spread,Corrected Total,Team X Spread,Team Y Spread,Team to Cover
0,1109,V,FloridaIntl,30,42,72,150.5,10000,79.0,270,...,14.5,382,232,1.0,NorthCarolina,-30.5,150.5,30.5,-30.5,0.0
1,1109,V,MurrayState,26,44,70,139.5,700,73.0,313,...,6.0,344,46,1.0,California,-13.5,139.5,13.5,-13.5,0.0
4,1111,V,DetroitU,32,29,61,140.5,1350,73.5,326,...,8.5,344,46,1.0,California,-17.0,140.5,17.0,-17.0,1.0
7,1112,V,JamesMadison,25,19,44,140.5,1500,72.5,312,...,8.5,361,251,1.0,OhioState,-19.0,140.5,19.0,-19.0,1.0
8,1112,V,GeorgiaState,29,24,53,135.0,450,71.0,322,...,5.5,333,215,1.0,NCState,-10.5,135.0,10.5,-10.5,1.0
9,1113,V,CSNorthridge,20,43,63,142.0,2000,74.5,295,...,7.0,348,269,1.0,Purdue,-22.5,142.0,22.5,-22.5,1.0
10,1113,V,William&Mary,31,35,66,136.0,2250,73.0,291,...,10.5,336,71,1.0,Connecticut,-23.5,136.0,23.5,-23.5,0.0
11,1113,V,YoungstownState,24,33,57,137.0,1150,73.0,293,...,4.5,357,402,1.0,Xavier,-16.5,137.0,16.5,-16.5,1.0
12,1113,V,MiamiOhio,42,29,71,1.5,-125,70.0,316,...,0.0,290,349,1.0,Towson,1.5,125.0,-1.5,1.5,1.0
13,1113,V,ClevelandState,25,37,62,1.0,-120,3.0,321,...,70.0,317,315,1.0,StBonaventure,1.0,134.0,-1.0,1.0,1.0
15,1113,V,Valparaiso,38,40,78,1.5,-120,2.0,326,...,68.0,296,24,1.0,BallState,1.5,120.0,-1.5,1.5,1.0
16,1113,V,ArkansasLR,30,34,64,139.5,1400,74.5,306,...,7.0,336,198,1.0,Mississippi,-16.5,139.5,16.5,-16.5,1.0
17,1113,V,NewOrleansU,32,27,59,126.5,1100,71.0,86,...,8.0,324,117,1.0,Georgia,-16.0,126.5,16.0,-16.0,0.0
18,1113,V,Massachusetts,35,32,67,147.0,160,78.5,317,...,1.5,294,53,1.0,CentralFlorida,-4.0,147.0,4.0,-4.0,1.0
19,1113,V,Pennsylvania,29,26,55,139.0,1000,72.5,268,...,6.5,323,259,1.0,PennState,-14.5,139.0,14.5,-14.5,1.0
20,1113,V,ULMonroe,29,33,62,140.0,1150,74.0,291,...,6.0,317,160,1.0,LSU,-16.0,140.0,16.0,-16.0,1.0
21,1113,V,NorthernIllinois,25,30,55,132.5,775,70.5,304,...,5.5,318,246,1.0,Northwestern,-14.0,132.5,14.0,-14.0,1.0
22,1113,V,LoyolaChicago,18,36,54,139.0,1800,71.0,319,...,8.0,329,156,1.0,KansasState,-21.5,139.0,21.5,-21.5,1.0
23,1113,V,Hofstra,27,38,65,145.5,3000,75.5,311,...,9.5,376,155,1.0,Kansas,-25.0,145.5,25.0,-25.0,1.0
24,1113,V,Drexel,29,33,67,121.5,190,66.0,321,...,3.0,324,319,1.0,StJosephs,-5.0,121.5,5.0,-5.0,1.0
25,1113,V,SouthFlorida,29,38,67,123.0,-102,68.0,323,...,0.0,310,284,1.0,SouthFlorida,-1.0,123.0,1.0,-1.0,0.0
26,1113,V,IdahoU,47,47,94,134.0,450,75.0,274,...,8.0,310,366,1.0,IdahoU,-10.0,134.0,10.0,-10.0,0.0
27,1113,V,Georgetown,32,42,74,10.5,-600,5.5,320,...,68.0,283,351,1.0,Georgetown,10.5,126.0,-10.5,10.5,0.0
28,1113,V,Bradley,25,35,60,143.0,700,73.0,327,...,6.0,347,23,1.0,BYU,-13.0,143.0,13.0,-13.0,0.0
29,1113,V,NorthernIowa,23,48,71,3.5,-175,1.5,336,...,61.0,298,81,1.0,NorthernIowa,3.5,118.0,-3.5,3.5,0.0
30,1113,V,CalPolySLO,28,34,62,131.0,575,71.0,298,...,4.0,314,294,1.0,SanFrancisco,-12.0,131.0,12.0,-12.0,0.0
31,1113,V,NewMexicoState,26,42,68,147.5,360,77.0,230,...,3.0,333,288,1.0,SaintMarysCA,-9.0,147.5,9.0,-9.0,1.0
32,1113,V,Stanford,32,32,64,1.0,-115,0.5,338,...,71.0,313,292,1.0,SanDiego,1.0,130.0,-1.0,1.0,1.0
33,1113,V,Pacific,25,30,67,4.5,-170,1.5,320,...,66.5,310,261,1.0,Pacific,4.5,127.0,-4.5,4.5,1.0
36,1113,N,WiscGreenBay,30,26,56,137.5,120,72.5,321,...,3.0,316,353,0.5,UAB,-2.5,137.5,2.5,-2.5,1.0
37,1113,V,Samford,34,32,66,122.0,475,67.0,290,...,7.0,324,158,1.0,KentState,-10.5,122.0,10.5,-10.5,0.0
39,1113,V,WrightState,28,41,69,133.5,1000,71.5,328,...,5.5,343,383,1.0,WashingtonU,-15.0,133.5,15.0,-15.0,0.0
40,1113,N,LoyolaMarymount,45,42,87,148.5,310,81.0,317,...,4.5,321,29,0.5,BoiseState,-8.0,148.5,8.0,-8.0,0.0
44,1113,V,MoreheadState,25,34,59,135.0,1600,71.5,311,...,8.0,382,159,1.0,Kentucky,-17.5,135.0,17.5,-17.5,0.0
45,1113,V,NCGreensboro,27,35,62,133.5,6000,71.5,306,...,12.0,382,90,1.0,Duke,-31.0,133.5,31.0,-31.0,1.0
46,1113,V,Wofford,31,29,60,136.5,1000,70.5,310,...,10.5,327,262,1.0,Pittsburgh,-15.0,136.5,15.0,-15.0,0.0
47,1113,V,StPeters,27,24,51,134.0,1300,70.0,289,...,11.0,326,301,1.0,SetonHall,-17.5,134.0,17.5,-17.5,0.0
48,1113,V,NCWilmington,31,37,68,152.5,400,80.5,305,...,2.5,289,11,1.0,AppalachianSt,-9.5,152.5,9.5,-9.5,1.0
49,1113,V,AustinPeay,25,29,54,160.5,2750,80.0,301,...,12.5,348,332,1.0,Tennessee,-24.5,160.5,24.5,-24.5,1.0
50,1113,V,TennesseeTech,22,28,50,143.0,2000,74.0,274,...,8.0,345,196,1.0,Minnesota,-22.5,143.0,22.5,-22.5,1.0
51,1113,V,Siena,38,47,85,14.0,-1200,5.0,309,...,81.0,279,335,1.0,Siena,14.0,157.5,-14.0,14.0,0.0
52,1113,V,IdahoState,24,44,68,129.0,925,69.5,278,...,4.5,329,149,1.0,IowaState,-15.0,129.0,15.0,-15.0,1.0
53,1113,V,Rider,44,44,88,146.0,1000,80.0,308,...,9.5,313,199,1.0,Rider,-15.0,146.0,15.0,-15.0,0.0
54,1113,V,UtahState,28,38,66,3.0,-155,69.0,320,...,0.5,310,384,1.0,UtahState,3.0,134.5,-3.0,3.0,0.0
55,1113,V,Niagara,33,32,65,145.0,210,77.0,317,...,3.5,312,21,1.0,Auburn,-5.5,145.0,5.5,-5.5,0.0
57,1114,V,Princeton,43,28,71,115.0,240,66.5,260,...,5.0,303,54,1.0,Princeton,-6.5,115.0,6.5,-6.5,0.0
58,1114,V,Temple,40,36,76,7.5,-340,70.5,342,...,0.5,298,78,1.0,Temple,7.5,134.0,-7.5,7.5,0.0
59,1114,V,Creighton,46,34,80,140.5,280,77.5,349,...,6.0,339,77,1.0,Dayton,-7.5,140.5,7.5,-7.5,1.0
60,1114,V,Cornell,26,45,71,145.5,245,74.5,245,...,4.5,335,3,1.0,Cornell,-6.5,145.5,6.5,-6.5,0.0
62,1114,V,CalRiverside,22,29,51,134.5,1050,70.5,286,...,4.5,332,225,1.0,NewMexico,-15.0,134.5,15.0,-15.0,1.0

In [79]:
predict_winner_df = final_df.drop(['Date','Team X 1st Half','Team X 2nd Half','Team X Final',
                                  'Total Close','2nd Half Total','Team X','Team Y',
                                   'Team Y 1st Half','Team Y 2nd Half','Team Y Final',
                                   'Spread Close','2nd Half Spread','Winner','Corrected Spread',
                                  'Loc Team X','Loc Team Y','Team Frequency_x','Team Frequency_y',
                                  ], axis=1)
predict_winner_df.head()

,Team X Moneyline,Team Code_x,Home/Away/Neutral_x,Team Y Moneyline,Team Code_y,Home/Away/Neutral_y,Corrected Total,Team X Spread,Team Y Spread,Team to Cover
0,10000,107,0.0,-30000,232,1.0,150.5,30.5,-30.5,0.0
1,700,211,0.0,-1100,46,1.0,139.5,13.5,-13.5,0.0
4,1350,84,0.0,-2300,46,1.0,140.5,17.0,-17.0,1.0
7,1500,154,0.0,-2600,251,1.0,140.5,19.0,-19.0,1.0
8,450,119,0.0,-600,215,1.0,135.0,10.5,-10.5,1.0

In [27]:
x = predict_winner_df.drop(['Team to Cover'], axis=1)
y = predict_winner_df['Team to Cover']

print(x.shape, y.shape)

(39349, 9) (39349,)

In [28]:
y.nunique()

3

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [35]:
scalar = StandardScaler()

In [36]:
scalar.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [37]:
x_train_scaled = scalar.transform(x_train)

In [38]:
x_test_scaled = scalar.transform(x_test)

In [39]:
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [40]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=9))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

WARNING:tensorflow:From C:\Users\marcg\Anaconda\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [41]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [42]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               1000
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 303
=================================================================
Total params: 21,503
Trainable params: 21,503
Non-trainable params: 0
_________________________________________________________________

In [44]:
model.fit(
    x_train_scaled,
    y_train,
    epochs=200,
    shuffle=True,
    verbose=2
)

Train on 29511 samples
Epoch 1/200
29511/29511 - 6s - loss: 0.7011 - acc: 0.4923
Epoch 2/200
29511/29511 - 6s - loss: 0.6945 - acc: 0.4977
Epoch 3/200
29511/29511 - 6s - loss: 0.6936 - acc: 0.4978
Epoch 4/200
29511/29511 - 6s - loss: 0.6932 - acc: 0.4973
Epoch 5/200
29511/29511 - 6s - loss: 0.6930 - acc: 0.4984
Epoch 6/200
29511/29511 - 6s - loss: 0.6929 - acc: 0.4991
Epoch 7/200
29511/29511 - 9s - loss: 0.6928 - acc: 0.4978
Epoch 8/200
29511/29511 - 5s - loss: 0.6925 - acc: 0.4997
Epoch 9/200
29511/29511 - 7s - loss: 0.6923 - acc: 0.5009
Epoch 10/200
29511/29511 - 5s - loss: 0.6921 - acc: 0.5022
Epoch 11/200
29511/29511 - 4s - loss: 0.6920 - acc: 0.5010
Epoch 12/200
29511/29511 - 7s - loss: 0.6919 - acc: 0.5005
Epoch 13/200
29511/29511 - 4s - loss: 0.6916 - acc: 0.5037
Epoch 14/200
29511/29511 - 12s - loss: 0.6914 - acc: 0.5054
Epoch 15/200
29511/29511 - 4s - loss: 0.6912 - acc: 0.5055
Epoch 16/200
29511/29511 - 4s - loss: 0.6913 - acc: 0.5078
Epoch 17/200
29511/29511 - 8s - loss: 0.6908 - acc: 0.5094
Epoch 18/200
29511/29511 - 4s - loss: 0.6907 - acc: 0.5118
Epoch 19/200
29511/29511 - 5s - loss: 0.6904 - acc: 0.5106
Epoch 20/200
29511/29511 - 8s - loss: 0.6902 - acc: 0.5096
Epoch 21/200
29511/29511 - 5s - loss: 0.6900 - acc: 0.5129
Epoch 22/200
29511/29511 - 4s - loss: 0.6897 - acc: 0.5153
Epoch 23/200
29511/29511 - 6s - loss: 0.6893 - acc: 0.5183
Epoch 24/200
29511/29511 - 4s - loss: 0.6893 - acc: 0.5181
Epoch 25/200
29511/29511 - 4s - loss: 0.6887 - acc: 0.5191
Epoch 26/200
29511/29511 - 8s - loss: 0.6889 - acc: 0.5199
Epoch 27/200
29511/29511 - 7s - loss: 0.6886 - acc: 0.5220
Epoch 28/200
29511/29511 - 7s - loss: 0.6882 - acc: 0.5234
Epoch 29/200
29511/29511 - 5s - loss: 0.6878 - acc: 0.5216
Epoch 30/200
29511/29511 - 4s - loss: 0.6875 - acc: 0.5244
Epoch 31/200
29511/29511 - 4s - loss: 0.6874 - acc: 0.5228
Epoch 32/200
29511/29511 - 8s - loss: 0.6867 - acc: 0.5257
Epoch 33/200
29511/29511 - 4s - loss: 0.6862 - acc: 0.5289
Epoch 34/200
29511/29511 - 6s - loss: 0.6861 - acc: 0.5297
Epoch 35/200
29511/29511 - 5s - loss: 0.6856 - acc: 0.5318
Epoch 36/200
29511/29511 - 4s - loss: 0.6852 - acc: 0.5300
Epoch 37/200
29511/29511 - 5s - loss: 0.6850 - acc: 0.5314
Epoch 38/200
29511/29511 - 5s - loss: 0.6846 - acc: 0.5326
Epoch 39/200
29511/29511 - 4s - loss: 0.6841 - acc: 0.5349
Epoch 40/200
29511/29511 - 4s - loss: 0.6836 - acc: 0.5360
Epoch 41/200
29511/29511 - 5s - loss: 0.6830 - acc: 0.5382
Epoch 42/200
29511/29511 - 5s - loss: 0.6826 - acc: 0.5382
Epoch 43/200
29511/29511 - 4s - loss: 0.6820 - acc: 0.5369
Epoch 44/200
29511/29511 - 4s - loss: 0.6819 - acc: 0.5402
Epoch 45/200
29511/29511 - 5s - loss: 0.6810 - acc: 0.5401
Epoch 46/200
29511/29511 - 5s - loss: 0.6806 - acc: 0.5433
Epoch 47/200
29511/29511 - 5s - loss: 0.6804 - acc: 0.5426
Epoch 48/200
29511/29511 - 6s - loss: 0.6797 - acc: 0.5435
Epoch 49/200
29511/29511 - 5s - loss: 0.6790 - acc: 0.5454
Epoch 50/200
29511/29511 - 5s - loss: 0.6786 - acc: 0.5475
Epoch 51/200
29511/29511 - 6s - loss: 0.6778 - acc: 0.5488
Epoch 52/200
29511/29511 - 4s - loss: 0.6770 - acc: 0.5503
Epoch 53/200
29511/29511 - 4s - loss: 0.6770 - acc: 0.5502
Epoch 54/200
29511/29511 - 15s - loss: 0.6760 - acc: 0.5544
Epoch 55/200
29511/29511 - 12s - loss: 0.6751 - acc: 0.5550
Epoch 56/200
29511/29511 - 7s - loss: 0.6755 - acc: 0.5502
Epoch 57/200
29511/29511 - 10s - loss: 0.6740 - acc: 0.5554
Epoch 58/200
29511/29511 - 12s - loss: 0.6741 - acc: 0.5559
Epoch 59/200
29511/29511 - 9s - loss: 0.6734 - acc: 0.5574
Epoch 60/200
29511/29511 - 7s - loss: 0.6723 - acc: 0.5570
Epoch 61/200
29511/29511 - 18s - loss: 0.6719 - acc: 0.5569
Epoch 62/200
29511/29511 - 16s - loss: 0.6717 - acc: 0.5588
Epoch 63/200
29511/29511 - 34s - loss: 0.6706 - acc: 0.5605
Epoch 64/200
29511/29511 - 12s - loss: 0.6700 - acc: 0.5596
Epoch 65/200
29511/29511 - 10s - loss: 0.6692 - acc: 0.5638
Epoch 66/200
29511/29511 - 11s - loss: 0.6681 - acc: 0.5636
Epoch 67/200
29511/29511 - 17s - loss: 0.6682 - acc: 0.5671
Epoch 68/200
29511/29511 - 13s - loss: 0.6674 - acc: 0.5679
Epoch 69/200
29511/29511 - 11s - loss: 0.6665 - acc: 0.5692
Epoch 70/200
29511/29511 - 11s - loss: 0.6664 - acc: 0.5707
Epoch 71/200
29511/29511 - 11s - loss: 0.6648 - acc: 0.5760
Epoch 72/200
29511/29511 - 16s - loss: 0.6642 - acc: 0.5718
Epoch 73/200
29511/29511 - 15s - loss: 0.6636 - acc: 0.5715
Epoch 74/200
29511/29511 - 18s - loss: 0.6628 - acc: 0.5733
Epoch 75/200
29511/29511 - 12s - loss: 0.6622 - acc: 0.5752
Epoch 76/200
29511/29511 - 13s - loss: 0.6626 - acc: 0.5716
Epoch 77/200
29511/29511 - 37s - loss: 0.6615 - acc: 0.5749
Epoch 78/200
29511/29511 - 14s - loss: 0.6603 - acc: 0.5772
Epoch 79/200
29511/29511 - 39s - loss: 0.6600 - acc: 0.5768
Epoch 80/200
29511/29511 - 13s - loss: 0.6594 - acc: 0.5779
Epoch 81/200
29511/29511 - 20s - loss: 0.6582 - acc: 0.5774
Epoch 82/200
29511/29511 - 14s - loss: 0.6580 - acc: 0.5808
Epoch 83/200
29511/29511 - 14s - loss: 0.6579 - acc: 0.5798
Epoch 84/200
29511/29511 - 15s - loss: 0.6576 - acc: 0.5811
Epoch 85/200
29511/29511 - 12s - loss: 0.6566 - acc: 0.5788
Epoch 86/200
29511/29511 - 12s - loss: 0.6558 - acc: 0.5818
Epoch 87/200
29511/29511 - 17s - loss: 0.6546 - acc: 0.5850
Epoch 88/200
29511/29511 - 9s - loss: 0.6534 - acc: 0.5864
Epoch 89/200
29511/29511 - 11s - loss: 0.6533 - acc: 0.5843
Epoch 90/200
29511/29511 - 11s - loss: 0.6538 - acc: 0.5860
Epoch 91/200
29511/29511 - 16s - loss: 0.6518 - acc: 0.5889
Epoch 92/200
29511/29511 - 10s - loss: 0.6507 - acc: 0.5881
Epoch 93/200
29511/29511 - 29s - loss: 0.6510 - acc: 0.5877
Epoch 94/200
29511/29511 - 13s - loss: 0.6500 - acc: 0.5900
Epoch 95/200
29511/29511 - 14s - loss: 0.6490 - acc: 0.5918
Epoch 96/200
29511/29511 - 14s - loss: 0.6486 - acc: 0.5927
Epoch 97/200
29511/29511 - 16s - loss: 0.6489 - acc: 0.5914
Epoch 98/200
29511/29511 - 19s - loss: 0.6469 - acc: 0.5940
Epoch 99/200
29511/29511 - 16s - loss: 0.6468 - acc: 0.5939
Epoch 100/200
29511/29511 - 12s - loss: 0.6465 - acc: 0.5951
Epoch 101/200
29511/29511 - 9s - loss: 0.6449 - acc: 0.5977
Epoch 102/200
29511/29511 - 11s - loss: 0.6457 - acc: 0.5956
Epoch 103/200
29511/29511 - 9s - loss: 0.6430 - acc: 0.5970
Epoch 104/200
29511/29511 - 11s - loss: 0.6435 - acc: 0.5982
Epoch 105/200
29511/29511 - 12s - loss: 0.6430 - acc: 0.5989
Epoch 106/200
29511/29511 - 12s - loss: 0.6415 - acc: 0.6012
Epoch 107/200
29511/29511 - 9s - loss: 0.6426 - acc: 0.5988
Epoch 108/200
29511/29511 - 13s - loss: 0.6407 - acc: 0.6015
Epoch 109/200
29511/29511 - 26s - loss: 0.6401 - acc: 0.6014
Epoch 110/200
29511/29511 - 11s - loss: 0.6396 - acc: 0.6042
Epoch 111/200
29511/29511 - 12s - loss: 0.6389 - acc: 0.6024
Epoch 112/200
29511/29511 - 9s - loss: 0.6392 - acc: 0.6027
Epoch 113/200
29511/29511 - 16s - loss: 0.6385 - acc: 0.6045
Epoch 114/200
29511/29511 - 11s - loss: 0.6365 - acc: 0.6060
Epoch 115/200
29511/29511 - 11s - loss: 0.6360 - acc: 0.6052
Epoch 116/200
29511/29511 - 14s - loss: 0.6348 - acc: 0.6064
Epoch 117/200
29511/29511 - 13s - loss: 0.6347 - acc: 0.6070
Epoch 118/200
29511/29511 - 10s - loss: 0.6352 - acc: 0.6068
Epoch 119/200
29511/29511 - 11s - loss: 0.6344 - acc: 0.6082
Epoch 120/200
29511/29511 - 16s - loss: 0.6336 - acc: 0.6094
Epoch 121/200
29511/29511 - 14s - loss: 0.6334 - acc: 0.6123
Epoch 122/200
29511/29511 - 11s - loss: 0.6325 - acc: 0.6118
Epoch 123/200
29511/29511 - 10s - loss: 0.6316 - acc: 0.6110
Epoch 124/200
29511/29511 - 11s - loss: 0.6304 - acc: 0.6133
Epoch 125/200
29511/29511 - 12s - loss: 0.6303 - acc: 0.6113
Epoch 126/200
29511/29511 - 10s - loss: 0.6298 - acc: 0.6136
Epoch 127/200
29511/29511 - 10s - loss: 0.6292 - acc: 0.6141
Epoch 128/200
29511/29511 - 13s - loss: 0.6283 - acc: 0.6165
Epoch 129/200
29511/29511 - 14s - loss: 0.6282 - acc: 0.6158
Epoch 130/200
29511/29511 - 12s - loss: 0.6265 - acc: 0.6161
Epoch 131/200
29511/29511 - 12s - loss: 0.6266 - acc: 0.6165
Epoch 132/200
29511/29511 - 12s - loss: 0.6261 - acc: 0.6136
Epoch 133/200
29511/29511 - 8s - loss: 0.6263 - acc: 0.6168
Epoch 134/200
29511/29511 - 9s - loss: 0.6248 - acc: 0.6200
Epoch 135/200
29511/29511 - 10s - loss: 0.6242 - acc: 0.6179
Epoch 136/200
29511/29511 - 10s - loss: 0.6235 - acc: 0.6198
Epoch 137/200
29511/29511 - 9s - loss: 0.6222 - acc: 0.6203

Epoch 138/200
29511/29511 - 9s - loss: 0.6224 - acc: 0.6193
Epoch 139/200
29511/29511 - 11s - loss: 0.6217 - acc: 0.6210
Epoch 140/200
29511/29511 - 11s - loss: 0.6221 - acc: 0.6219
Epoch 141/200
29511/29511 - 15s - loss: 0.6208 - acc: 0.6249
Epoch 142/200
29511/29511 - 11s - loss: 0.6213 - acc: 0.6211
Epoch 143/200
29511/29511 - 20s - loss: 0.6193 - acc: 0.6223
Epoch 144/200
29511/29511 - 8s - loss: 0.6185 - acc: 0.6244
Epoch 145/200
29511/29511 - 13s - loss: 0.6191 - acc: 0.6250
Epoch 146/200
29511/29511 - 10s - loss: 0.6176 - acc: 0.6264
Epoch 147/200
29511/29511 - 10s - loss: 0.6173 - acc: 0.6232
Epoch 148/200
29511/29511 - 15s - loss: 0.6172 - acc: 0.6274
Epoch 149/200
29511/29511 - 12s - loss: 0.6152 - acc: 0.6270
Epoch 150/200
29511/29511 - 12s - loss: 0.6140 - acc: 0.6270
Epoch 151/200
29511/29511 - 10s - loss: 0.6144 - acc: 0.6264
Epoch 152/200
29511/29511 - 15s - loss: 0.6148 - acc: 0.6276
Epoch 153/200
29511/29511 - 12s - loss: 0.6133 - acc: 0.6288
Epoch 154/200
29511/29511 - 12s - loss: 0.6137 - acc: 0.6280
Epoch 155/200
29511/29511 - 10s - loss: 0.6116 - acc: 0.6311
Epoch 156/200
29511/29511 - 10s - loss: 0.6116 - acc: 0.6303
Epoch 157/200
29511/29511 - 11s - loss: 0.6110 - acc: 0.6312
Epoch 158/200
29511/29511 - 11s - loss: 0.6102 - acc: 0.6313
Epoch 159/200
29511/29511 - 12s - loss: 0.6102 - acc: 0.6318
Epoch 160/200
29511/29511 - 11s - loss: 0.6110 - acc: 0.6326
Epoch 161/200
29511/29511 - 11s - loss: 0.6085 - acc: 0.6349
Epoch 162/200
29511/29511 - 11s - loss: 0.6097 - acc: 0.6336
Epoch 163/200
29511/29511 - 12s - loss: 0.6085 - acc: 0.6345
Epoch 164/200
29511/29511 - 13s - loss: 0.6097 - acc: 0.6333
Epoch 165/200
29511/29511 - 13s - loss: 0.6059 - acc: 0.6330
Epoch 166/200
29511/29511 - 11s - loss: 0.6078 - acc: 0.6316
Epoch 167/200
29511/29511 - 9s - loss: 0.6048 - acc: 0.6357
Epoch 168/200
29511/29511 - 8s - loss: 0.6069 - acc: 0.6339
Epoch 169/200
29511/29511 - 10s - loss: 0.6037 - acc: 0.6382
Epoch 170/200
29511/29511 - 12s - loss: 0.6045 - acc: 0.6392
Epoch 171/200
29511/29511 - 15s - loss: 0.6039 - acc: 0.6358
Epoch 172/200
29511/29511 - 8s - loss: 0.6034 - acc: 0.6372
Epoch 173/200
29511/29511 - 11s - loss: 0.6029 - acc: 0.6383
Epoch 174/200
29511/29511 - 8s - loss: 0.6016 - acc: 0.6384
Epoch 175/200
29511/29511 - 9s - loss: 0.6003 - acc: 0.6405
Epoch 176/200
29511/29511 - 10s - loss: 0.6003 - acc: 0.6399
Epoch 177/200
29511/29511 - 18s - loss: 0.6010 - acc: 0.6383
Epoch 178/200
29511/29511 - 11s - loss: 0.5988 - acc: 0.6427
Epoch 179/200
29511/29511 - 13s - loss: 0.5999 - acc: 0.6418
Epoch 180/200
29511/29511 - 11s - loss: 0.5977 - acc: 0.6433
Epoch 181/200
29511/29511 - 11s - loss: 0.5983 - acc: 0.6402
Epoch 182/200
29511/29511 - 11s - loss: 0.5985 - acc: 0.6414
Epoch 183/200
29511/29511 - 10s - loss: 0.5979 - acc: 0.6445
Epoch 184/200
29511/29511 - 14s - loss: 0.5969 - acc: 0.6430
Epoch 185/200
29511/29511 - 8s - loss: 0.5959 - acc: 0.6404
Epoch 186/200
29511/29511 - 9s - loss: 0.5954 - acc: 0.6475
Epoch 187/200
29511/29511 - 8s - loss: 0.5957 - acc: 0.6466
Epoch 188/200
29511/29511 - 11s - loss: 0.5945 - acc: 0.6481
Epoch 189/200
29511/29511 - 10s - loss: 0.5937 - acc: 0.6461
Epoch 190/200
29511/29511 - 9s - loss: 0.5947 - acc: 0.6456
Epoch 191/200
29511/29511 - 14s - loss: 0.5933 - acc: 0.6470
Epoch 192/200
29511/29511 - 9s - loss: 0.5933 - acc: 0.6450
Epoch 193/200
29511/29511 - 12s - loss: 0.5921 - acc: 0.6472
Epoch 194/200
29511/29511 - 16s - loss: 0.5933 - acc: 0.6486
Epoch 195/200
29511/29511 - 10s - loss: 0.5915 - acc: 0.6476
Epoch 196/200
29511/29511 - 15s - loss: 0.5918 - acc: 0.6505
Epoch 197/200
29511/29511 - 13s - loss: 0.5891 - acc: 0.6490
Epoch 198/200
29511/29511 - 13s - loss: 0.5893 - acc: 0.6515
Epoch 199/200
29511/29511 - 18s - loss: 0.5911 - acc: 0.6476
Epoch 200/200
29511/29511 - 9s - loss: 0.5897 - acc: 0.6497

In [ ]:
# model_array = ['xml','teamxcode','locxcode','yml','teamycode','locycode','total','xspread','yspread']

In [80]:
model.save('second_model.h5')

In [89]:
encoded_predictions = model.predict_classes(x_test_scaled[:5])
print(encoded_predictions)

[0 0 0 0 0]

In [84]:
# print(x_train_scaled)

[[-0.08466278 -0.11541212  2.67604706 ... -1.66787674 -0.10082904
   0.10082904]
 [ 1.29104209 -1.20899688 -0.37368551 ... -0.50188496  2.0253552
  -2.0253552 ]
 [-0.07615327 -1.1321042  -0.37368551 ...  1.6435399   0.0206672
  -0.0206672 ]
 ...
 [ 0.28408285  1.21739431 -0.37368551 ... -1.2481197   1.66086648
  -1.66086648]
 [-0.0960088  -0.27774111 -0.37368551 ... -0.82836266 -0.40456965
   0.40456965]
 [-0.2690356  -0.10686849 -0.37368551 ... -0.36196595 -1.61953208
   1.61953208]]

In [87]:
kansas_tcu = [-430,155,0,315,328,1,131,-8,8]
kansas_tcu_output = model.predict_classes(kansas_tcu[0:8])
print(kansas_tcu_output)

In [ ]:
kansas_tcu_output = list(team_dict.keys())[list(team_dict.values()).index(kansas_tcu)]
print(kansas_tcu_output)

In [ ]:
umiami_fsu = [700,191,0,-1200,108,1,144,13.5,-13.5]
model.predict(umiami_fsu)

In [ ]:
umiami_fsu_output = list(team_dict.keys())[list(team_dict.values()).index(umiami_fsu)]
print(umiami_fsu_output)

In [ ]:
auburn_lsu = [175,160,0,-210,21,1,155.5,4.5,-4.5]
model.predict(auburn_lsu)

In [ ]:
auburn_lsu_output = list(team_dict.keys())[list(team_dict.values()).index(auburn_lsu)]
print(auburn_lsu_output)

In [ ]:
msu_mich = [120,194,0,-140,193,1,142.5,3,-3]
model.predict(msu_mich)

In [ ]:
msu_mich_output = list(team_dict.keys())[list(team_dict.values()).index(msu_mich)]
print(msu_mich_output)

In [ ]:
uk_tenn = [-165,159,0,145,332,1,132.5,-3.5,3.5]
model.predict(uk_tenn)

In [ ]:
uk_tenn_output = list(team_dict.keys())[list(team_dict.values()).index(uk_tenn)]
print(uk_tenn_output)